/*-- scss:defaults --*/
/* useful resource on customizing Quarto sites */
/* https://ucsb-meds.github.io/customizing-quarto-websites/#/title-slide */

// Colors
/* LTER Network Office logo colors */
$lter-green-1: #97AE3F;
$lter-green-2: #5A5C37;
$lter-green-3: #374228;
$lter-blue-1: #209ACA;
$lter-blue-2: #4AB2CB;
$lter-tan: #B89E92;
$lter-yellow: #FFDF1D;
$lter-orange: #DA6641;

/* generally useful other colors */
$cream: #F4F3EE;
$gray-0: #d6d6d6;
$gray-1: #BCB8B1;
$gray-2: #8A817C;
$gray-3: #222823;
$gray-4: #191919;
$black: #08090A;

// Fonts
$font-size: 25px;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

// Base document colors
$navbar-bg: $lter-green-1; // navbar
$navbar-fg: $cream; // navbar foreground elements
$sidebar-bg: $lter-blue-1; // sidebar
$sidebar-fg: $cream; // sidebar foreground elements
$navbar-hl: $lter-green-3; // highlight color when on a page
$body-bg: $cream; // page background
$body-color: $black; // page text
$footer-bg: $lter-green-1; // footer
$footer-fg: $cream; // footer text
$link-color: $lter-blue-2; // hyperlinks

// Code text
$code-bg: $gray-0; // inline code background color
$code-block-bg: $gray-0; // code block background color
$code-color: $lter-green-2; // inline code text color

/*-- scss:rules --*/

// Active tabset panel (tab then tab content)
.nav-tabs .nav-link.active { 
  background-color: #FFF; 
  color: $black;
}
.tab-content { background-color: #FFF; }

// Navbar dropdown elements
.dropdown-menu{
  --bs-dropdown-link-hover-color: #f4f3ee;
  --bs-dropdown-link-hover-bg: #4AB2CB;
}

// Underline URLs
.reveal .slide a { text-decoration: underline; }
